//tipografias
$fuente_principal:'Lorea';

$fuente_parrafos:'PT Serif';

//colores
$azul-trans:#005192;
$azul:#252440;
$negro:	#000000;
$blanco:#ffffff;
$ceniza:#CDCDCD;
$gris:#9c9c9c;

//tamaños de MQ
$talefono:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;