.card-titulo{

    h2{
        text-align: center;
        font-family: $fuente_principal;
        color: $negro;
        margin: 0;
        margin-bottom: 1rem;
        @include telefono{
           padding: 0;
        }
    }
    p{
        text-align: center;
        font-family: $fuente_parrafos;
        color: $azul;
        margin: 0;
        margin-bottom: 3rem;

    }
}
.conteiner-card{
display: flex;
flex-direction: column;
align-items: center;  
gap: 2rem;
margin: 0;

@include tablet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 
   
}
.card-title{
    font-size: $fuente_principal;
    font-size: 2.3rem;
    text-align: center;
    background-color: $azul;
    color: $blanco;
    .card-text{
        font-size: 1.5rem;
        text-align: center;
    }
    
}


.boton-uno,.boton-dos,.boton-tres{
    font-size: 2rem;
    color: $blanco;
    font-family: $fuente_principal;
    color:$blanco;
    background-color: $azul;
    border: none;
    display: inline;
    text-align: center;
   }

