.header{
    background-color: $azul;
    h1{
        color: $ceniza;
        text-align:center;
        @include tablet{
            margin: 0;
        }
    }
    .contenido-header{
        padding: 2rem;
        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
   
}
.navegacion-principal{
  padding: 2rem;
    @include tablet{
        display: flex;
        gap: 2rem;
    }
    a{
        display: block;
        text-align: center;
        color: $ceniza;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        @include tablet{
            margin: 0;
        }
       
    }
}

body{
    background-color: $ceniza;

}

.nosotros-conteiner{
    background-color: $ceniza;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    flex-direction: row-reverse;
    width: 100%;

    
    .nosotros__text{
        text-align: center;
        color: $negro;
        font-family: $fuente_principal;
        font-size: 2rem;
        padding-top: 1rem;
        border-bottom: 1px solid $blanco;

        
        
      
        @include telefono{
            font-size: 1.5rem;
        }
        @include tablet{
            font-size: 2rem;
        }
        p{
            color: $negro;
            font-family: $fuente_parrafos;
            font-size: 1.5rem;
            margin-top: 1rem;

            @include telefono{
                font-size: 1rem;
            }
            @include tablet{
                font-size: 2rem;
            }
        }
    }
    .nosotros-img{
        display: none;
        min-width:40% ;
        max-width: 80%;

        @include telefono{
            display: block;
        }
        @include tablet{
        }
    }
}
.contacto-titulo{
    padding-top: 2rem;
    text-align: center;
    font-size: $fuente_principal;
}
    .formulario-contacto{
        margin-bottom: 4rem;
        font-size: 2.3rem;
        width: 95%;
        padding: 5rem;
        margin: 0 auto;
        
     
        .contacto-uno{
            display: flex;
            margin-bottom: 2rem;
            text-align: right;
            gap: 2rem;
        }
        
    }
    .contacto__label{
        flex: 0 0 9;
        font-size: 1.5rem;

        @include tablet{
            font-size: 1.8rem;
        }
    }

    .contacto__field{
        flex: 1;
        border: 1px solid $gris;
        font-size: 1.2rem;

        @include tablet{
            font-size: 1.5rem;
        }
    }
    .contacto__field--textarea{
        height: 10rem;

        @include tablet{
            height: 20rem;

        }
    }

.boton-contac{
  font-family: $fuente_principal;
   font-size: 3rem;
   color: $ceniza;
   background-color: $azul;
   border: none;
   text-align: center;
   padding: 1px;
   &hover{
       color: $blanco;
       cursor: pointer;
   }
}

















.footer{
    background-color: $azul;
    .titulo-footer{
        color: $ceniza;
        font-size: 4rem;
        text-align: center;

    }
   
}
.a-fotter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $ceniza;
    font-size: 2.1rem;
    padding-bottom: 1rem;
    @include tablet{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-direction: column;
        padding-right: 2rem;

    }
    &:hover{
        color: $blanco;
    }
}

.derechos{
    color: $ceniza;
    text-align: center;
}