.carrusel-h5{
    font-size: 2rem;
    font-family:$fuente_principal;
    color: $negro;
    .carousel-p-spa{
        font-size: 1.5rem;
        font-family: $fuente_principal;
        color: $negro;

    }
   
}
.carrusel-blanco{
    font-size: 2rem;
    font-family: $fuente_principal;
    

}
.carousel-pb{
    font-size: 1.5rem;
    font-family: $fuente_principal;
    color: $blanco;
}