.carrusel-h5{
    font-size: 3rem;
    color: $negro;
    font-family: $fuente_principal;
}

.carrusel-blanco{
    font-size: 3rem;
    font-family: $fuente_principal;
    color: $blanco;
}
.carousel-pb{
    color: $blanco;
}
