.header{
    background-color: $azul;
    a{
        color: $ceniza;
        text-align:center;
        @include tablet{
            margin: 0;
        }
    }
    .contenido-header{
        padding: 2rem;
        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
   
}
.navegacion-principal{
  padding: 2rem;
    @include tablet{
        display: flex;
        gap: 2rem;
    }
    a{
        display: block;
        text-align: center;
        color: $ceniza;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        @include tablet{
            margin: 0;
        }
      
        &:hover{
            color: $blanco;
        }
    }
}
.contenedor-reservas{
    text-align: center;
}
/* Inicio Formulario reservas */
.reservas-global{
    border: 1rem solid $blanco;
 
}
.campo{
    padding: 1rem 0 1rem 0;
    display: flex;
}
.campo__label{
    text-align: right;
    padding-right: 1.5rem;
}
.boton-campo{
    font-family: $fuente_principal;
    margin-top: 1.5rem;
    font-size: 3rem;
    display: flex;
    background-color: $azul;
    color: $ceniza;
    
    text-align: center;
    &:hover{
        color: $blanco;
    }
}











/* Fin Formulario reservas */


.footer{
    background-color: $azul;
    .titulo-footer{
        color: $ceniza;
        font-size: 4rem;
        text-align: center;

    }
   
}
.a-fotter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $ceniza;
    font-size: 2.1rem;
    padding-bottom: 1rem;
    @include tablet{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-direction: column;
        padding-right: 2rem;

    }
    &:hover{
        color: $blanco;
    }
}
.derechos{
    color: $ceniza;
    text-align: center;
}
